{%extends 'sections/main-content.html.twig'%}

{%block content%}
	<div class="example-wrapper">
            <h1>Hello {{ user.firstName }}</h1>
				<p> Ton id de catdegorie est:{{user.Category.id}} et tu es un {{user.Category.category}}</p>
				
				 <!-- WEATHER-2 PANEL -->
              <div class="col-lg-4 col-md-4 col-sm-4 mb">
                <div class="weather-2 pn">
                  <div class="weather-2-header">
                    <div class="row">
                      <div class="col-sm-6 col-xs-6">
                        <p>Mon prochain cours</p>
                      </div>
                      <div class="col-sm-6 col-xs-6 goright">
                        <p class="small">Thu Apr 14, 2014</p>
                      </div>
                    </div>
                  </div>
                  <!-- /weather-2 header -->
                  <div class="row centered">
                    <img src="img/ui-sam.jpg" class="img-circle" width="120">
                  </div>
                  <div class="row data">
                    <div class="col-sm-6 col-xs-6 goleft">
                      <h4><b>Maths</b></h4>
                      <h6>7:15 AM</h6>
                      <h6>9:15 AM</h6>
                    </div>
                    <div class="col-sm-6 col-xs-6 goright">
                      <h5><i class="fa fa-sun-o fa-2x"></i></h5>
                      <h5>Réviser</h5>
							 <h5>Contacter Sam</h5>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /col-md-4 -->
        
            This friendly message is coming from:
            <ul>
                <li>Your controller at <code><a href="{{ 'C:/Studeazy/src/Controller/ProfileController.php'|file_link(0) }}">src/Controller/ProfileController.php</a></code></li>
                <li>Your template at <code><a href="{{ 'C:/Studeazy/templates/profile/index.html.twig'|file_link(0) }}">templates/profile/index.html.twig</a></code></li>
            </ul>
        </div>
{%endblock%}