{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
{{include ('sections/header/'~user.Category.category~'.html.twig')}}
{{include ('sections/sidebar/sidebar.html.twig')}}
{{include ('profile/content.html.twig')}}

{% endblock %}
