{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div id="login-page">
        <div class="container">
            
        </div>
    </div>
    <div class='form' align='center'>
        <form method='post' action='' class='form-login'>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <h2 class="form-login-heading"> Connectez vous à votre compte Stud'Eazy</h2>
            <div class="login-wrap">
                <label for= "inputEmail">Adresse email:</label>
                <input class='form-control' type="email" id='inputEmail' name='email' placeholder='Votre adresse e-mail' value {{last_username}} required autofocus><br>
                <label for="inputPassword">Mot de passe:</label>
                <input class="form-control" type='password' id='inputPassword' name='password' placeholder='Votre mot de passe' required>
             </div>
             <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html
        
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}
        
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Se connecter
            </button>
                
            
            
            <a href='{{path('register')}}'><p class='box1'>Je n'ai pas encore de compte</p></a>
        </form>
            
    </div>

{% endblock %}


{% block javascripts%}
<!--BACKSTRETCH-->
			<!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
			<script type="text/javascript" src="assets/lib/jquery.backstretch.min.js"></script>
			<script>
			  $.backstretch("img/cours-particuliers.jpg", {
				 speed: 500
			  });
			</script>
{% endblock %}
