{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block stylesheets %}
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet">
{% endblock %}



{% block body %}
	<div id="login-page">
	   <div class="container">        
      </div>
	</div>
	
	<div class='form' align='center'>
		<div class='form-login'>
			<h2 class="form-login-heading">Inscrivez-vous sur Stud'Eazy</h2>
			<div class="login-wrap">
				{{form_start(form, {
					'attr':{
						'class':'form-login'
						}
					}
				)}}
                    {{form_row(form.Category)}}
                    {{form_row(form.firstName)}}
                    {{form_row(form.lastName)}}
                    {{form_row(form.surname)}}
                    {{form_row(form.birthday)}}
                    {{form_row(form.address)}}
                    <button type="submit" class="btn">Enregistrer</button>
                    <input type="hidden" name="_csrf_token">
				{{form_end(form)}}
				
             
            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html
        
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}
        </div>
            
    </div>

	
	 
    
{% endblock %}


{% block javascripts%}
<!--BACKSTRETCH-->
			<!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
			<script type="text/javascript" src="assets/lib/jquery.backstretch.min.js"></script>
			<script>
			  $.backstretch("img/cours-particuliers.jpg", {
				 speed: 500
			  });
			</script>
{% endblock %}

