{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block stylesheets %}
    <!-- Custom styles for this template -->
    <link href="/assets/lib/datepicker/css/datepicker.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div id="create-profile">
        <div class="container">
            <div class="form" align="center">
                <h2> Creation de profil Stud'Eazy</h1>
                {{form_start(form)}}
                    {{form_row(form.Category)}}
                    {{form_row(form.firstName)}}
                    {{form_row(form.lastName)}}
                    {{form_row(form.surname)}}
                    {{form_row(form.birthday)}}
                    {{form_row(form.Address)}}
                    
                    <input type='submit'>
                {{form_end(form)}}
            </div>
        </div>
	</div>
    
   
    
{% endblock %}


{% block javascripts%}
<!--Datepicker-->
    <script src="/assets/lib/datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/assets/lib/datepicker/js/locales/bootstrap-datepicker.fr.min.js"></script>
    <script>
        $('#create_user_birthday').datepicker({
                format: "dd-mm-yyyy",
                language: "fr",
                orientation: "bottom auto",
        })
    </script>
<!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
   <!-- <script type="text/javascript" src="/assets/lib/jquery.backstretch.min.js"></script>
    <script>
      $.backstretch("/img/cours-particuliers.jpg", {
         speed: 500
      });
    </script>-->
      <!-- Include Google Maps JS API -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyCDonhoRu6kqtYR0kEnRb2_P7c4yWR5GJo "></script>
    <script type="text/javascript" src="/assets/lib/GmapApi/autocomplete.js"></script>
    
{% endblock %}

