{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block stylesheets %}
   
{% endblock %}

{% block body %}
	<div id="login-page">
	   <div class="container">        
      </div>
	</div>
	
	<div class='form' align='center'>
		<div class='form-login'>
			<h2 class="form-login-heading">Inscrivez-vous sur Stud'Eazy</h2>
			<div class="login-wrap">
				{{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword) }}
                    {{ form_row(registrationForm.agreeTerms) }}
            
                    <button class="btn">Register</button>
                    <input type="hidden" name="_csrf_token">
                {{ form_end(registrationForm) }}
				
             
            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html
        
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}
        
           
                
            
            
            <a href='{{path('app_login')}}'><p class='box1'>J'ai déjà un compte</p></a>
        </div>
            
    </div>

	
	 
    
{% endblock %}


{% block javascripts%}
<!--BACKSTRETCH-->
			<!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
			<script type="text/javascript" src="assets/lib/jquery.backstretch.min.js"></script>
			<script>
			  $.backstretch("img/cours-particuliers.jpg", {
				 speed: 500
			  });
			</script>
{% endblock %}

