<!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="profile.html"><img src="<?=$profil_user->get_profile_pic();?>" class="img-circle" width="80"></a></p>
          <h5 class="centered">{{user.firstName}} '{{user.surname}}' {{user.lastName}}</h5>
			 <p class="centered"> ans</p>
			 {{include ('sections/sidebar/navbar/'~user.Category.category~'.html.twig')}}
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->