{%extends 'sections/main-content.html.twig'%}

{%block content%}
	<div class="example-wrapper">
		<h1>Hello {{ user.firstName }}</h1>
		<p> Bienvenue sur ton Agenda</p>
		<div class="panel col-md-8">
			<div class="panel-body">
				<div id="calendar" class="has-toolbar"></div>
         </div>
      </div>
		<div class="panel col-md-4">
			<div class='panel-body'>
				<h3>Ajouter des disponibilités</h3>
				{{form_start(form)}}
					{{form_row(form.Date)}}
					{{form_row(form.start)}}
					{{form_row(form.end)}}					
					<input type='submit'>
			  {{form_end(form)}}
				 
			</div>
		</div>
		
            <ul>
						 
            </ul>
        </div>
{%endblock%}

