{% extends 'base.html.twig' %}

{% block title %}Hello AgendaController!{% endblock %}



{% block body %}
{{include ('sections/header/'~user.Category.category~'.html.twig')}}
{{include ('sections/sidebar/sidebar.html.twig')}}
{{include ('agenda/content.html.twig')}}

{% endblock %}

{%block stylesheets%}
	<link href='/assets/lib/Full-calendar/packages/core/main.css' rel='stylesheet' />
	<link href='/assets/lib/Full-calendar/packages/daygrid/main.css' rel='stylesheet' />
	<link href='/assets/lib/Full-calendar/packages/timegrid/main.css' rel='stylesheet' />
    <link href="/assets/lib/datepicker/css/datepicker.css" rel="stylesheet">
{%endblock%}

{%block javascripts%}
	 <!--scripts for this page-->
  <!--  Full calendar:-->
  <script src='/assets/lib/Full-calendar/packages/core/main.js'></script>
  <script src='/assets/lib/Full-calendar/packages/interaction/main.js'></script>
  <script src='/assets/lib/Full-calendar/packages/daygrid/main.js'></script>
  <script src='/assets/lib/Full-calendar/packages/timegrid/main.js'></script>
<!-- Date and Time Pickers-->
 <script src="lib/jquery-ui-1.9.2.custom.min.js"></script>
  <script type="text/javascript" src="lib/bootstrap-fileupload/bootstrap-fileupload.js"></script>
  <script type="text/javascript" src="lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="lib/bootstrap-daterangepicker/date.js"></script>
  <script type="text/javascript" src="lib/bootstrap-daterangepicker/daterangepicker.js"></script>
  <script type="text/javascript" src="lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
  <script type="text/javascript" src="lib/bootstrap-daterangepicker/moment.min.js"></script>
  <script type="text/javascript" src="lib/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
  <script src="lib/advanced-form-components.js"></script>
  <!--Script pour le format de date-->
  <script src=dateHtml.js ></script>
  <script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: [ 'interaction', 'dayGrid', 'timeGrid' ],
      defaultView: 'dayGridMonth',
      themeSystem: 'bootstrap',
      showNonCurrentDates: true,
      fixedWeekCount: false,
      header:{
        left:'today prev,next',
        center:'title',
        right:'dayGridMonth,timeGridWeek,timeGridDay'
        },
      
      allDaySlot: false,
      slotDuration: "00:30:00",
      minTime: "07:00:00",
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: /*{start: '2020-06-06T08:00:00',end: '2020-06-06T11:00:00' , title: 'exemple'},
               {start: '2020-06-08T08:00:00',end: '2020-06-08T11:00:00' , title: 'exemple2'}*/
      [{"id":2,"start":"2020-06-08T11:00:00","end":"2020-06-08T16:00:00","title":"availability"},
        {%for event in events%}
            {"id":{{event.id}},"start":"{{event.start}}","end":"{{event.end}}","title":"availability"},
        {%endfor %}
       ],
    });

    calendar.render();
  });

</script>
{%endblock%}


