<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
<<<<<<< HEAD
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!-- Favicons -->
		<link href="img/favicon.png" rel="icon">
		<link href="img/apple-touch-icon.png" rel="apple-touch-icon">
	 
		<!-- Bootstrap core CSS -->
		<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"><!-- Custom styles for this template -->
		<link href="css/style.css" rel="stylesheet">
		<link href="css/style-responsive.css" rel="stylesheet">
=======
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

        
        <title>Stud'Eazy - {% block title %}{% endblock %}</title>
        <!-- Favicons-->
        <!--Bootstrap core CSS-->
        <link href="/assets/app/bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="/css/style.css" rel="stylesheet">
        <link href="/css/style-responsive.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/assets/lib/gritter/css/jquery.gritter.css" />
        <!--external CSS-->
        <link href="/assets/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
>>>>>>> agenda
        {% block stylesheets %}{% endblock %}
        <meta name="description" content="{% block description %}{% endblock %}">
        {%block fonts%}{%endblock%}
                

    </head>
    <body>
<<<<<<< HEAD
        {% block body %}{% endblock %}
        <!-- js placed at the end of the document so the pages load faster -->
        <script src="lib/jquery/jquery.min.js"></script>
        <script src="lib/bootstrap/js/bootstrap.min.js"></script>
        <script class="include" type="text/javascript" src="lib/jquery.dcjqaccordion.2.7.js"></script>
        <script src="lib/jquery.scrollTo.min.js"></script>
        <script src="lib/jquery.nicescroll.js" type="text/javascript"></script>
         <!--common script for all pages-->
        <script src="lib/common-scripts.js"></script>
=======
       <section id="container">{% block body %}{% endblock %}</section>
        <!--common script for all pages-->
        <script src="/assets/lib/common-scripts.js"></script>
        <!--js placed at the end of the document so the pages load faster-->
        <script src="/assets/app/jquery/jquery.min.js"></script>
		<script src="/assets/app/bootstrap/js/bootstrap.min.js"></script>
        <script class="include" type="text/javascript" src="assets/lib/jquery.dcjqaccordion.2.7.js"></script>
        <script src="/assets/lib/jquery.scrollTo.min.js"></script>
        <script src="assets/lib/jquery.nicescroll.js" type="text/javascript"></script>
        <script src="assets/lib/jquery.sparkline.js"></script>
        <script type="text/javascript" src="/assets/lib/gritter/js/jquery.gritter.js"></script>
        <script type="text/javascript" src="/assets/lib/gritter-conf.js"></script>
>>>>>>> agenda
        {% block javascripts %}{% endblock %}
    </body>
</html>
