<li class="mt">
	<a class="" href="index.html">
	  <i class="fa fa-dashboard"></i>
	  <span>Tableau de Bord</span>
	  </a>
</li>
<li class="mt">
	<a class='' href="agenda2.php">
	  <i class="fa fa-dashboard"></i>
	  <span>Mon Agenda</span>
	  </a>
</li>
<li class="mt">
	<a class='' href="index.html">
	  <i class="fa fa-dashboard"></i>
	  <span>Mes Tontons</span>
  </a>
</li>
<li class="mt">
	<a class='' href="mes_cours.html">
	  <i class="fa fa-dashboard"></i>
	  <span>Mes cours</span>
  </a>
</li>
<li class="mt">
	<a class= href="index.html">
	  <i class="fa fa-dashboard"></i>
	  <span>Mes Etudes</span>
  </a>
</li>
